.logo{
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;
}

.navigation{
    display: flex;
    width: 80%;
    margin: 10px auto;
    flex-direction: row;
    border-bottom: 1px solid #cecece;
    cursor: pointer;
}
.headerspan{
    
    display: flex;
   
}

.mainnav{
    display: block;
    flex-direction: row;
}

.mainnav li{
    list-style-type: none;
    margin-right: 20px;
    float: left;
}

.mainnav li:hover{
    color: #ff6e12;
  
}

.staticnav{
    display: flex;
    margin-left:auto;
}

.staticnav li{
    list-style-type: none;
    margin-right: 20px;
}

.profilephoto{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-top: -15px;
}


.product{
    display: flex;
    width: 80%;
    margin: 80px auto;
}

.toggle {
    display: none;
  }
  
  @media (min-width: 769px) {
    .mainnav{
        flex-direction: row;
        display: block;
      
    }
  
  }

@media (max-width: 768px) {
    
    .product{
        width: 100%;
        flex-direction: column;
    }
    .navigation{
        width: 90%;
    }
  
   
    .toggle{
        display: block;
        margin-top: 15px;
        margin-right: 20px;
    }
    .mainnav{
        flex-direction: column;
    position: absolute;
    top: 60px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ececec;
    width: 100%;
      
    }
    
    .mainnav li {
        list-style-type: none;
        margin-right: 20px;
        margin-top: 10px;
        float: none;
    }
    .blocked{
        display: block;
    }

    .hiddened{
        display: hidden;
    }

}


@media (min-width: 767px) and (max-width: 991px) {

    .product{
        width: 100%;
    }
 
}

