body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Mulish', sans-serif;
}
